#support-screen-shot {
    position: fixed;
    right: 200px;
    bottom: 15px;
    z-index: 999;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    border: solid 1px #000000;
    text-align: center;
    line-height: 24px;
    background: #f67c00;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.dontshow {
    visibility: hidden;
}
